
.container {
  padding: 10px;
}

header {
  background: #333;
}

header .container {
  text-align: center;
  color: #FFF;
}

header a>i {
  color: #FFF;
}

span.title {
  font-size: 18px;
}

.button-collapse {
  float: left;
}

@media only screen and (max-width: 992px) {
  footer, header, main {
    padding-left: 0;
  }
  .side-nav {
    width: 300px;
  }
  h5 > span {
    display: block;
    margin: 0 0 15px
  }
}


footer, header, main {
  padding-left: 380px;
}

.side-nav {
  width: 380px;
}

.side-nav li {
  border-bottom: 2px solid #CCC;
}

.side-nav .text-title {
  font-size: 12px;
  display: block;
  color: #000;
}

.side-nav .text-eng {
  font-size: 14px;
  font-weight: bold;
  display: block;
  color: #666;
}

.side-nav a {
  height: auto;
  padding: 3px;
  line-height: 2;
}

.side-nav a.active {
  background: #EEE;
}

main {
  font-family: Georgia,Helvetica Neue,Helvetica,STHeitiSC-Light,Arial
}

main .eng {
  font-size: 1.8rem;
}

main .title {
  font-size: 1.4rem;
}

main .author {
  display: block;
  text-align: right;
  color: #CCC;
}

main .poster-container {
  width: 100%;
  text-align: center;
}

main .poster-container img {
  max-width: 100%;
}


main .content-container {
  width: 100%;
}

main .content-container img {
  max-width: 100%;
}

main audio {
  width: 100%;
}

main .btn {
  width: 100%;
}

main p {
  font-size: 20px;
}